# Visual Studio
.vs/
bin/
obj/

# Uno Platform
**/bin/
**/obj/

# MPLAB / PIC build outputs
build/
dist/

*.p1
*.p1.d
*.o
*.d
*.elf
*.hex
*.map
*.lst
*.sym
*.sdb
*.mum
*.cmf
*.hxl

# User-specific files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
